{% load i18n %}

<div class="mastery_cycle_block">
    {% if not done %}
    <button class="js-check-problems js-mastery-cycle-not-done is-hidden">{% trans "Check  Problems" %}</button>
    <button class="js-next-problem btn-brand disabled">{% trans "Show Next Question" %}</button>
    <p class="question-timer-message js-question-timer-alert is-hidden">
        {{ question_timer_alert }}
    </p>
    {% else %}
    <p>{% trans "You've successfully completed the quiz! You're doing great! Keep up the good work!" %}</p>
    {% endif %}
</div>
